<% if (title) { %>
  <h1><%= title %></h1>
<% } %>

<%- messages() %>

<div id="vehicle-display">
  <% if (vehicle) { %>
    <div id="vehicle-image">
      <img 
        src="<%= vehicle.inv_image %>" 
        alt="<%= vehicle.inv_year %> <%= vehicle.inv_make %> <%= vehicle.inv_model %>" 
        class="vehicle-image" 
      />
    </div>
    <div class="vehicle-display">
      <h2><%= vehicle.inv_year %> <%= vehicle.inv_make %> <%= vehicle.inv_model %></h2>
      <p><strong>Price:</strong> $<%= new Intl.NumberFormat("en-US").format(vehicle.inv_price) %></p>
      <p><strong>Description:</strong> <%= vehicle.inv_description %></p>
      <p><strong>Color:</strong> <%= vehicle.inv_color %></p>
      <p><strong>Miles:</strong> <%= new Intl.NumberFormat("en-US").format(vehicle.inv_miles) %> miles</p>
    </div>
  <% } else { %>
    <p class="notice">Sorry, no matching vehicle could be found.</p>
  <% } %>
</div>

